@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    
</script>

<div class="row">
    <div class="row">
        <div class="text-center">
            <div class="col-md-3 col-md-push-3">
                <h1>Assignment 1</h1>
            </div>

            <div class="col-md-3 col-md-push-3">
                <h2>Kole Frazier</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <h1>Rock, Paper, Scissors</h1>
        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="row">
        <div id="score" class="col-md-2 col-md-push-10">
            Score:&nbsp;
        </div>
    </div>
    <div class="text-center">

    </div>
</div>
